
<!-- Hero Start -->
    <div class="container-fluid bg-light page-header py-5 mb-5">
        <div class="container text-center py-5">
            <h1 class="display-1 animated slideInLeft">Price</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center animated slideInLeft mb-0">
                    <li class="breadcrumb-item"><a class="text-primary" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-primary" href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Price</li>
                </ol>
            </nav>
        </div>
    </div>

<!-- Pricing Start -->
<div class="container-fluid price px-0">
    <div class="row g-0">
        <div class="col-md-6">
            <div class="d-flex align-items-center h-100 bg-primary p-5">
                <div class="wow fadeIn" data-wow-delay="0.3s">
                    <h1 class="font-dancing-script text-white">Pricing</h1>
                    <h1 class="mb-0">Beauty Salon</h1>
                    <h1 class="display-1 text-uppercase mb-5" style="letter-spacing: 10px;">Pricing</h1>
                    <div class="row g-4 align-items-center">
                        <div class="col-lg-6">
                            <div class="text-center bg-dark p-5">
                                <h4 class="text-white">Enjoy</h4>
                                <h1 class="display-1 font-work-sans text-white"><%= adminData.discountOfferPercentage %>%</h1>
                                <p class="fs-2 text-white mb-0">Off</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p><%= adminData.discountOfferText %></p>
                            <a class="btn btn-dark" href="">Get <%= adminData.discountOfferPercentage %>% Off</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="h-100 bg-dark p-5">
                <% if (servicesData && servicesData.length > 0) { %>
                <% servicesData.forEach((service, index) => { %>
                    <div class="price-item mb-3 wow fadeIn" data-wow-delay="0.<%= index + 1 %>s">
                        <img class="img-fluid flex-shrink-0" src="<%= service.image.url %>" alt="<%= service.name %>">
                        <div class="text-end px-4">
                            <h6 class="text-uppercase text-primary"><%= service.name %></h6>
                            <h3 class="text-white font-work-sans mb-0">$<%= service.price %></h3>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p class="text-white">No services available right now.</p>
            <% } %>

            </div>
        </div>
    </div>
</div>
<!-- Pricing End -->
